.git
build
build-debug
build-release
build-relwithdebinfo
build-minsizerel
build-sanitize
build-coverage
build-analyze
build-openwrt
build-*
output
package
bin
_ci_logs2
logs_*.zip
*.zip
.trae
.github
.claude
*.md
!CMakeLists.txt
